node_modules/
.next/
dist/
out/
build/
coverage/
.turbo/
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
!.env.sample
.vercel
*.keystore
